* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #E55625;
    text-decoration: underline;
    text-underline-offset: 5px;
    transition: .2s;
}

li {
    list-style: none;
    transition: .2s;
    font-size: 25px;
}

li:hover {
    list-style: none;
    transform: scale(1.1);
    transition: .2s;
    cursor: pointer;
}

nav {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #f5f5f5;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(8,15,40,1);
    position: fixed;
    width: 100%;
    z-index: 100;
}

nav:hover {
    background-color: rgba(8,15,40,0.95);
}

ul {
    display: flex;
    justify-content: space-around;
    gap: 10vw;
    width: 30%;
    color: white;
    font-variant: small-caps;
}
